@model FilmsCatalog.Models.Film
@inject FilmsCatalog.Services.IUserPermissionsService UserPermissions

@{
    ViewData["Title"] = $"Details about {Model.Name}";
}

<div class="row shadow pt-4 pb-4">
    <div class="col-12 col-md-5 mb-3"><img class="responsive" src="/@Model.PathToPoster" alt="poster" /></div>
    <div class="col-7">
        <div>
            <h6 class="d-inline-block">Название:&ensp;</h6>
            <p class="d-inline-block">@Model.Name</p>
        </div><hr />
        <div>
            <h6 class="d-inline-block">Описание: </h6>
            <p class="d-inline-block">@Model.Description</p>
        </div><hr />
        <div>
            <h6 class="d-inline-block">Год выпуска: </h6>
            <p class="d-inline-block">@Model.YearsOfRealease.ToString("d")</p>
        </div><hr />
        <div>
            <h6 class="d-inline-block">Режиссёр: </h6>
            <p class="d-inline-block">@Model.Director</p>
        </div><hr />
        <div>
            <h6 class="d-inline-block">Автор поста: </h6>
            <p class="d-inline-block">@Model.Creator.Email</p>
        </div><hr />
    </div>
</div>
<div class="pb-4 pt-4">
    @if (UserPermissions.IsCanEditFilm(Model))
    {
        <a asp-controller="Films" asp-action="Edit" asp-route-filmId="@Model.Id" class="btn btn-outline-dark">Редактировать</a>
    }
    <a asp-controller="Films" asp-action="ShowCatalog" class="btn btn-outline-dark">Вернуться к каталогу</a>
    @if (User.IsInRole(ApplicationRoles.Administrators))
    {
        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modalConfirm">
            Delete
        </button>

        <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h6>Вы действительно хотите удалить всю информацию об этом фильме?</h6>
                    </div>
                    <form class="modal-footer" method="post">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" asp-controller="Films" asp-action="Delete" asp-route-filmId="@Model.Id" class="btn btn-danger">Да, хочу</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
